.box{
    width: 80vw;
    height: 55%;
    display: flex;
    gap: 10px;
    overflow: auto;
    flex-wrap: wrap;
    padding-top: 5px;
}
.card{
    cursor: pointer;
    width: 20%;
    height: 35%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    justify-content: space-between;
    font-size: 20px;
}
.card:hover{
    box-shadow: 1px 1px 10px rgba(146, 146, 146, 0.5);
}

.notebottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nbtag{
    font-weight: 600;
    font-size: 13px;
    padding:3px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align:middle;
}

.Normal{
    background-color: rgba(149, 208, 22, 0.5);
}
.Normal.dark{
    background-color: rgb(132, 184, 20);
}
.Important{
    background-color: rgba(255, 173, 77, 0.5);
}
.Important.dark{
    background-color: rgb(218, 139, 49);
}
.Urgent{
    background-color: rgba(149, 117, 217, 0.5);
}
.Urgent.dark{
    background-color: rgb(131, 104, 192);
}


#Normal.dark{
    color: rgb(132, 184, 20);
    background-color: #fff;
}

#Important.dark{
    color: rgb(218, 139, 49);
    background-color: #fff;

}
#Urgent.dark{
    color: rgb(131, 104, 192);
    background-color: #fff;

}

.delete{
    font-size:25px;
    color: black;
    filter: opacity(70%);
}
/* argr js mai change kro to */
.delact{
    display: block;
}
.nothing{
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    margin: 3%;
    padding: 7px 20px;
}
.nothing.dark{
    color: rgba(255, 255, 255, 0.7);
}